.table {
    width: 400px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.thead {
    background-color: #52e54f;
    color: #fff;
    height: 45px;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

.column {
    text-align: center;
    height: 45px;
    color: #808080;
}